<div class="row">
    <div class="col"></div>
<div class="jumbotron col p-5">
    <form id="registerForm" action="registered" method="post" enctype="multipart/form-data">
        <div class="form-group mb-3">
            <label class="form-label">Nombre</label>
            <input class="form-control" name="name">
        </div>
        <div class="form-group mb-3">
            <label class="form-label">Email</label>
            <input name="email" class="form-control">
        </div>
         <div class="form-group mb-3">
            <label class="form-label">Edad</label>
            <input class="form-control" name="edad">
        </div>
        <div class="form-group mb-3">
            <label class="form-label">Dirección</label>
            <input class="form-control" name="direccion">
        </div>
        <div class="form-group mb-3">
            <label class="form-label">Teléfono</label>
            <input class="form-control" name="telefono">
        </div>
        <div class="form-group mb-3">
            <label class="form-label">Contraseña</label>
            <input class="form-control" name="password">
        </div>
        <div>
            <input type="file" class="form-control" id="avatar" name="avatar" />
        </div>
        <input  class="btn btn-success mt-3 mb-5" type="submit">
    </form>
</div> 
<div class="col"></div>
</div>
