<div class="row">
    <div class="col">
        <button onclick="irAlRegistro()" class="btn btn-success mt-3 mb-5">Ir al registro</button>
    </div>
    <div class="col p-5">
    <form id="loginForm" action="login" method="post">
        <div>
            <label class="form-label">Email</label>
            <input class="form-control" name="email">
        </div>
        <div>
            <label class="form-label">Contraseña</label>
            <input  class="form-control" type="password" name="password">
        </div>
        <input class="btn btn-success mt-3 mb-5" type="submit">
    </form>
     </div>
    <div class="col"></div>
</div>
<script>
    function irAlRegistro(){
        return window.location.href = "/register"
    }
</script>