<!DOCTYPE html>
<h1>Compra realizada exitosamente!!!</h1>
<h3>Datos de envio:</h3>
<p>Nombre: {{user.name}}</p>
<p>Email de contacto: {{user.email}}</p>
<p>Dirección: {{user.direccion}}</p>
<p>Teléfono: {{user.telefono}}</p>
<script>
    setTimeout(() => { return window.location.href = "/" }, 2000)
</script>