<h1>Cliente Websockets</h1>
<div id="datoos"></div>
    <form onsubmit="return addMessage(this)">
      <input type="text" id="username" placeholder="Tu mail" />
      <input type="text" id="texto" placeholder="Cuéntanos algo..." />
      <input type="submit" value="Enviar" />
    </form>
    <script src="/socket.io/socket.io.js"></script>
     <script src="main.js"></script>
